---
http_interactions:
- request:
    method: post
    uri: https://www.proz.com/oauth/token
    body:
      encoding: UTF-8
      string: code=xf505e6ac620cb51bb8dc99d4bddbef2f3122e70&redirect_uri=http%3A%2F%2Fwww.example.com&client_id=xxxxxxxxx&scope=&client_secret=yyyyyyyyy&grant_type=authorization_code
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"q0245b8b893717386310160f117d1720583f3d22","expires_in":3600,"token_type":"Bearer","scope":"proz","refresh_token":"g197d8ba9dd0c608ee6e2c83c3b363540ec14b31"}'
  recorded_at: Wed, 04 Feb 2015 03:31:09 GMT
recorded_with: VCR 2.9.3
