---
http_interactions:
- request:
    method: get
    uri: https://api.proz.com/v2/freelancer-matches?country_code=us&language_pair=eng_esl&min_yrs_proz=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Proz-Api-Key:
      - yyyyyyyyy
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"invalid_api_key","error_description":"Invalid API key.","error_messages":["Invalid
        API key."],"success":0}'
  recorded_at: Wed, 04 Feb 2015 07:44:18 GMT
recorded_with: VCR 2.9.3
