---
http_interactions:
- request:
    method: get
    uri: https://api.proz.com/v2/freelancer-matches?country_code=us&language_pair=eng_esl&min_yrs_proz=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Proz-Api-Key:
      - xxxxxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":1,"meta":{"num_results":0},"data":[]}'
  recorded_at: Wed, 04 Feb 2015 08:12:56 GMT
recorded_with: VCR 2.9.3
