---
http_interactions:
- request:
    method: get
    uri: https://api.proz.com/v2/freelancer/663e4488-58a1-4713-992c-c6d90aafa3cb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Proz-Api-Key:
      - yyyyyyyyy
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"invalid_api_key","error_description":"Invalid API key.","error_messages":["Invalid
        API key."],"success":0}'
  recorded_at: Wed, 04 Feb 2015 06:49:51 GMT
recorded_with: VCR 2.9.3
