---
http_interactions:
- request:
    method: get
    uri: https://api.proz.com/v2/freelancer-matches?country_code=us&language_pair=eng_esl&min_yrs_proz=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Proz-Api-Key:
      - xxxxxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":1,"meta":{"num_results":2704},"data":[{"freelancer":{"uuid":"b9eade6d-33ac-4c7d-b6f1-42905375fc0b","site_name":"Jorge
        Arteaga M.D.","profile_url":"http:\/\/www.proz.com\/profile\/45863","contact_info":{"first_name":"Jorge","middle_name":"","last_name":"Arteaga
        M.D."},"skills":{"language_pairs":[{"pair_code":"eng_esl","pair_name":"English
        to Spanish","services":[{"service_id":1,"service_name":"Translation"},{"service_id":2,"service_name":"Checking\/editing"}]},{"pair_code":"esl_eng","pair_name":"Spanish
        to English","services":[{"service_id":1,"service_name":"Translation"},{"service_id":2,"service_name":"Checking\/editing"}]},{"pair_code":"esl_esl","pair_name":"Spanish","services":[{"service_id":1,"service_name":"Translation"},{"service_id":2,"service_name":"Checking\/editing"},{"service_id":6,"service_name":"Summarization"},{"service_id":11,"service_name":"Transcription"}]}],"general_disciplines":[{"disc_gen_id":3,"disc_gen_name":"Medical"},{"disc_gen_id":5,"disc_gen_name":"Science"},{"disc_gen_id":7,"disc_gen_name":"Marketing"}],"specific_disciplines":[{"disc_spec_id":95,"disc_spec_name":"Medical
        (general)","expertise_level":"specialty"},{"disc_spec_id":92,"disc_spec_name":"Medical:
        Pharmaceuticals","expertise_level":"specialty"},{"disc_spec_id":16,"disc_spec_name":"Medical:
        Cardiology","expertise_level":"specialty"},{"disc_spec_id":94,"disc_spec_name":"Medical:
        Health Care","expertise_level":"specialty"},{"disc_spec_id":120,"disc_spec_name":"Psychology","expertise_level":"specialty"},{"disc_spec_id":104,"disc_spec_name":"Nutrition","expertise_level":"specialty"},{"disc_spec_id":160,"disc_spec_name":"Genetics","expertise_level":"specialty"},{"disc_spec_id":128,"disc_spec_name":"Science
        (general)","expertise_level":"working"},{"disc_spec_id":113,"disc_spec_name":"Photography\/Imaging
        (\u0026 Graphic Arts)","expertise_level":"working"},{"disc_spec_id":30,"disc_spec_name":"Medical:
        Dentistry","expertise_level":"working"},{"disc_spec_id":12,"disc_spec_name":"Biology
        (-tech,-chem,micro-)","expertise_level":"working"}]}},"relevance":{"kudoz_in_pair":"997"}},{"freelancer":{"uuid":"394e1dc0-01fc-4937-8d66-1b477eeb14b7","site_name":"Ltemes","profile_url":"http:\/\/www.proz.com\/profile\/70020","contact_info":{},"skills":{"language_pairs":[{"pair_code":"eng_esl","pair_name":"English
        to Spanish","services":[{"service_id":1,"service_name":"Translation"},{"service_id":2,"service_name":"Checking\/editing"},{"service_id":11,"service_name":"Transcription"}]},{"pair_code":"esl_eng","pair_name":"Spanish
        to English","services":[{"service[...]
