---
http_interactions:
- request:
    method: post
    uri: https://www.proz.com/oauth/token
    body:
      encoding: UTF-8
      string: refresh_token=x92701ac20cb02a5742f2a0288b7a9f6a6d0b265&redirect_uri=http%3A%2F%2Fwww.example.com&client_id=xxxxxxxxx&scope=&client_secret=yyyyyyyyy&grant_type=refresh_token
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"x325fa5d0a661df967a6c52d07ba352649a7c153","expires_in":3600,"token_type":"Bearer","scope":"proz","refresh_token":"x6ee311617f0f0520e99de13b07ee61c03777134"}'
  recorded_at: Wed, 04 Feb 2015 03:55:24 GMT
recorded_with: VCR 2.9.3
